# ======================
# Laravel
# ======================

backend/.env
backend/vendor/
backend/storage/*.key
backend/storage/logs/*
backend/bootstrap/cache/*.php

# ======================
# Angular
# ======================

frontend/node_modules/
frontend/dist/
frontend/.angular/

# ======================
# Docker
# ======================

docker/mysql/data/

# ======================
# IDE
# ======================

.vscode/
.idea/

# ======================
# OS
# ======================

.DS_Store
Thumbs.db

# ======================
# Logs
# ======================

*.log

# ======================
# Environment
# ======================

.env
.env.*

!.env.example
